CarManagement/ServiceLayerLibrary/Connected Services/SR_CarDatabaseService/CarDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CarDatabaseService/CarDataService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CarDatabaseService/CarDataService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CarDatabaseService/CarDataService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICarDataService_SelectAllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllCars" />
  </wsdl:message>
  <wsdl:message name="ICarDataService_SelectAllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="ICarDataService_InsertCar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCar" />
  </wsdl:message>
  <wsdl:message name="ICarDataService_InsertCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarResponse" />
  </wsdl:message>
  <wsdl:portType name="ICarDataService">
    <wsdl:operation name="SelectAllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarDataService/SelectAllCars" message="tns:ICarDataService_SelectAllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarDataService/SelectAllCarsResponse" message="tns:ICarDataService_SelectAllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarDataService/InsertCar" message="tns:ICarDataService_InsertCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarDataService/InsertCarResponse" message="tns:ICarDataService_InsertCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarDataService" type="tns:ICarDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAllCars">
      <soap:operation soapAction="http://tempuri.org/ICarDataService/SelectAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCar">
      <soap:operation soapAction="http://tempuri.org/ICarDataService/InsertCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarDataService">
    <wsdl:port name="BasicHttpBinding_ICarDataService" binding="tns:BasicHttpBinding_ICarDataService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CarDatabaseService/CarDataService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>