CarManagement/ServiceLayerLibrary/Connected Services/SR_CarDatabaseService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SharedType" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CarDatabaseService/CarDataService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAuto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Auto" nillable="true" type="tns:Auto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuto" nillable="true" type="tns:ArrayOfAuto" />
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Kw" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Miles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
</xs:schema>