CarManagement/ServiceLayerLibrary/Connected Services/SR_CarService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PsToKw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ps" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PsToKwResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PsToKwResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>